<div style="text-align:center">
  <h1>TinyApp</h1>
  <% if(!user) {%>
    <h3 style="color:orangered">You're not logged in!</h3>
  <% } else{ %>
    <span>Logged in as <span style="color:#FF7F11; font-style:italic; font-weight:bold"><%=user.email%></span></span>
    <form class="form" method="POST" action="/logout">
      <div class="form-group mb-2">
        <label for="email">
          <button type="submit" class="btn btn-primary">Log Out</button>
        </label>
      </div>
    </form>
  <% } %>
</div>