<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px; background-color:#8d96a3">
    <!-- Add EJS code here -->
    <% include ./partials/_header %>
    <table class="table">
      <th scope="col">URL</th>
      <th scope="col">Shorten it!</th>
        <% for (url in urls) { %>
        <tr>
          <td>
            <%= urls[url] %>
          </td>
          <td>
            <a href='#'><%=url %></a>
          </td>
        </tr>
        <% }; %>
    </table>
</body>
</html>