<!DOCTYPE html>
<html lang="en">
<head>
  <!-- EJS Headers-->
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px; background-color:#8d96a3">
    <!-- Add EJS code here -->
    <% include ./partials/_header %>
    <table class="table">
      <th scope="col">URL</th>
      <th scope="col">Shortened!</th>
        <tr>
          <td>
            <%= long %>
          </td>
          <td>
            <a href='#'><%=short %></a>
          </td>
        </tr>
    </table>
</body>
</html>